In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Moose Factory,51.2585,-80.6094,44.60,42,0,10.36,CA,2022-05-01 14:35:03
1,1,Thinadhoo,0.5333,72.9333,86.00,70,89,16.46,MV,2022-05-01 14:35:10
2,2,Yelatma,54.9675,41.7508,48.65,49,77,6.55,RU,2022-05-01 14:40:57
3,3,Luderitz,-26.6481,15.1594,72.77,39,0,10.83,NaN,2022-05-01 14:38:06
4,4,Victoria,22.2855,114.1577,65.25,93,100,8.01,HK,2022-05-01 14:28:55

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat","Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [20]:
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

In [25]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [29]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
1,1,Thinadhoo,0.5333,72.9333,86.00,70,89,16.46,MV,2022-05-01 14:35:10
9,9,Kavaratti,10.5669,72.6420,85.12,71,25,10.76,IN,2022-05-01 14:33:25
10,10,Georgetown,5.4112,100.3354,84.15,88,20,2.30,MY,2022-05-01 14:39:30
17,17,Puerto Ayora,-0.7393,-90.3518,76.96,85,83,7.09,EC,2022-05-01 14:41:07
19,19,Kasane,-17.8167,25.1500,80.83,27,12,9.31,BW,2022-05-01 14:41:09
22,22,Sri Aman,1.2376,111.4621,80.65,94,76,0.00,MY,2022-05-01 14:39:14
23,23,Miracema Do Tocantins,-9.5618,-48.3967,87.42,54,47,4.81,BR,2022-05-01 14:41:12
24,24,Atuona,-9.8000,-139.0333,78.94,72,31,12.19,PF,2022-05-01 14:41:13
28,28,Rikitea,-23.1203,-134.9692,76.26,73,35,7.40,PF,2022-05-01 14:41:16
32,32,Benghazi,32.1167,20.0667,82.26,32,100,10.45,LY,2022-05-01 14:41:19

In [30]:
preferred_cities_df.count()

City_ID       176
City          176
Lat           176
Lng           176
Max Temp      176
Humidity      176
Cloudiness    176
Wind Speed    176
Country       176
Date          176
dtype: int64

In [31]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                     City Country  Max Temp      Lat       Lng Hotel Name
1               Thinadhoo      MV     86.00   0.5333   72.9333
9               Kavaratti      IN     85.12  10.5669   72.6420
10             Georgetown      MY     84.15   5.4112  100.3354
17           Puerto Ayora      EC     76.96  -0.7393  -90.3518
19                 Kasane      BW     80.83 -17.8167   25.1500
22               Sri Aman      MY     80.65   1.2376  111.4621
23  Miracema Do Tocantins      BR     87.42  -9.5618  -48.3967
24                 Atuona      PF     78.94  -9.8000 -139.0333
28                Rikitea      PF     76.26 -23.1203 -134.9692
32               Benghazi      LY     82.26  32.1167   20.0667

In [42]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [51]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    except (IndexError,):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [52]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Thinadhoo,MV,86.00,0.5333,72.9333,
9,Kavaratti,IN,85.12,10.5669,72.6420,"Tah paradise hut, Kavaratti"
10,Georgetown,MY,84.15,5.4112,100.3354,SO Hotel
17,Puerto Ayora,EC,76.96,-0.7393,-90.3518,CASA DEL LAGO LODGING HOUSE
19,Kasane,BW,80.83,-17.8167,25.1500,Chobe Water Villas
...,...,...,...,...,...,...
541,Mazagao,BR,82.45,-0.1150,-51.2894,Recanto dos Ferreiras
546,Kailua,US,76.98,21.4022,-157.7394,Kailua Beachside Cottages
550,Buraydah,SA,86.45,26.3260,43.9750,Qassim Crown Hotel Suites
554,Cap Malheureux,MU,75.47,-19.9842,57.6142,Dodola Lodge
557,Sawakin,SD,85.78,19.1059,37.3321,فندق الأنفال (ودابوشوره)

In [54]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [57]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [58]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))